.header {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

/*link is for <a> in items*/
.link {
  display: flex;
  flex-direction: column;
  line-height: 1;
  padding: 8px 12px;
  text-decoration: none;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  font-weight: 500;

  &:hover {
    color: var(--mantine-primary-color-7);
  }
}

.navBar {
  font-size: var(--mantine-font-size-md);
}

.burgerMenu {
  font-size: var(--mantine-font-size-xl);
}
