.headerWrapper {
  div {
    flex: 1;
  }
}
.title {
  color: var(--mantine-color-gray-8);
  font-size: 38px;
  @media (min-width: $mantine-breakpoint-lg) {
    font-size: 54px;
  }
}

.subtitle {
  color: var(--mantine-color-yellow-6);
  font-size: 24px;
}
