@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.headerWrapper {
  position: relative;
}

.headerImageWrapper {
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  min-height: 500px;
}

.headerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 100%;

  @media (max-width: $mantine-breakpoint-xs) {
    background: rgba(60, 60, 60, 0.4);
    padding: 10px;
    border-radius: 10px;
  }
}

.title {
  font-size: 38px;
  font-family: "Montserrat", sans-serif;

  @media (min-width: $mantine-breakpoint-lg) {
    font-size: 54px;
  }
}

.subtitle {
  font-family: "Montserrat", sans-serif;

  font-size: 20px;
  @media (min-width: $mantine-breakpoint-lg) {
    font-size: 28px;
  }
}

.headerButton {
  background-color: var(--mantine-color-red-6);
  color: #fff;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #fff;
    color: var(--mantine-color-red-6);
  }
}
