.title {
  font-weight: 900;
  font-size: 32px;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 28px;
  }
}

.card {
  border: 1px solid var(--mantine-color-gray-1);
}

.cardTitle {
  &::after {
    content: "";
    display: block;
    background-color: var(--mantine-color-red-filled);
    width: 13px;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
  }
}