.title {
  font-weight: 900;
  font-size: rem(32px, 16px);

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px, 16px);
  }
}

.card {
  border: rem(1px, 16px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.cardTitle {
  &::after {
    content: "";
    display: block;
    background-color: var(--mantine-color-red-filled);
    width: rem(45px, 16px);
    height: rem(2px, 16px);
    margin-top: var(--mantine-spacing-sm);
  }
}