.title {
  font-weight: 900;
  font-size: 32px;

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: 28px;
  }
}

.card {
  border: 1px solid var(--mantine-color-gray-1);
  z-index: -1;
  @media (min-width: 1024px) {
    max-width: 380px;
    flex: 1 1 30%;
    min-height: 350px;
  }
}

.cardTitle {
  &::after {
    content: "";
    display: block;
    background-color: var(--mantine-color-red-filled);
    width: 13px;
    height: 2px;
    margin-top: var(--mantine-spacing-sm);
  }
}
