.title {
    font-size: 36px;
    font-weight: 900;
    color: rgb(107, 15, 30);

    @media (max-width: 48em) {
        // font-size: 36px;
    }
}

.description {
    max-width: rem(600px, 16px);
    margin: auto;

    &::after {
        content: '';
        display: block;
        background-color: var(--mantine-color-blue-filled);
        width: rem(45px, 16px);
        height: rem(2px, 16px);
        margin-top: var(--mantine-spacing-sm);
        margin-left: auto;
        margin-right: auto;
    }
}

.card {
    border: rem(1px, 16px) solid light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.cardTitle {
    &::after {
        content: '';
        display: block;
        background-color: var(--mantine-color-red-3);
        width: rem(45px, 16px);
        height: rem(2px, 16px);
        margin-top: var(--mantine-spacing-sm);
    }
}