.title {
  color: var(--mantine-color-gray-8);
  font-size: 40px;
  @media (max-width: $mantine-breakpoint-sm) {
    font-size: 28px;
  }
}

.container {
  background-color: var(--mantine-primary-color-2);
  border-radius: 100px 0 0 0;
  min-height: 500px;
  padding-left: 10%;
  padding-right: 10%;
}
